Thumbs.db
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.vssscc
$tf*/
ipch/
packages/
*.*sdf
*.*GhostDoc.xml
*.vcxproj.filters
*.pro.user*
dist
log4cplus/
./1_63_0/*
1_63_0
strmrecv
strmrecv.dSYM
